name: Buy
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 15 * * 2,4'
    - cron:  '0 15 * * 1,3,5'
jobs:
  buy:
    name: Just Buy Stuff
    concurrency: buy
    permissions:
      contents: write
    env:
      ALPACA_ENPOINT: ${{ secrets.ALPACA_ENPOINT }}
      ALPACA_KEY_ID: ${{ secrets.ALPACA_KEY_ID }}
      ALPACA_SECRET: ${{ secrets.ALPACA_SECRET }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date)"
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Buy SVIX and FNGU on Tuesday and Thursday
        if: github.event.schedule == '0 15 * * 2,4'
        run: python main.py --symbols FNGU=\$10 SVIX=1
      - name: Buy FNGU on Monday, Wednesday and Friday
        if: github.event.schedule == '0 15 * * 1,3,5'
        run: python main.py --symbols FNGU=\$10
      - name: Commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated Buy At ${{ steps.date.outputs.date }} Run ID ${{github.run_id}}
